# /etc/systemd/system/battery-preservation.service
[Unit]
Description=Set the battery charge threshold at boot to prolong battery longevity when connected to AC power for long periods of time
After=multi-user.target
StartLimitBurst=0

[Service]
Type=oneshot
Restart=on-failure
ExecStart=/bin/bash -c 'echo 60 > /sys/class/power_supply/BAT*/charge_control_end_threshold'

[Install]
WantedBy=multi-user.target
